/* código omitido */

body {
    background-color: #61a161;
    color: white;
    font-family:"Bree Serif", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 2px;
}

button {
    background-color:  #addda7;
    color: rgb(0, 0, 0);
    font-family: "Bree Serif", serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}
main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}